:root {
  --primary-color: #151515;
  --secondary-color: #4ee1a0;
  --main-text-color: #ffffff;
  --medium-color: #242424;
  --light-color: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
}

.fw-500 {
  font-weight: 500px;
}

.fs-18 {
  font-size: 18px;
}

body {
  background-color: var(--primary-color);
  color: var(--main-text-color);
  font-family: "Space Grotesk", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

/* header logo and navbar */

.header,
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  width: 1070px;
}

.name-logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.nav-icons {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: flex-end;
  gap: 32px;
  align-items: center;
  z-index: 99;
  margin-left: auto;
}

/* rings svg */

.rings-container {
  position: absolute;
  top: 133px;
  left: -100px;
}

/* flexbox intro section */

.flex-intro-container {
  display: flex;
  margin-right: 0;
  margin-top: 115px;
}

.intro-container {
  margin-bottom: 219px;
}

.profile-pic-container {
  position: absolute;
  margin-right: 0px;
  left: 830px;
  top: 0px;
}

.profile-pic {
  width: 445px;
  max-width: 100%;
  /* height: 720px; */
}

.circle-img {
  width: 129px;
  max-width: 100%;
  position: absolute;
  top: 521px;
  right: 545px;
  left: -70px;
}

h1 {
  font-size: 88px;
  letter-spacing: -2.5px;
  z-index: 99;
  position: relative;
}

p {
  width: 445px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: var(--light-color);
}

.contact-link,
.text-overlay,
.send-msg,
.project-links {
  font-size: 16px;
  display: inline-block;
  color: var(--main-text-color);
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 2.28px;
  text-decoration: none;
  border-bottom: 2px solid #4ee1a0;
  padding-bottom: 10px;
}

.contact-link:hover,
.send-msg:hover {
  color: var(--secondary-color);
}

.cl-mt {
  margin-top: 66px;
}
/* GRID work experience section */

.work-experience {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #d9d9d9;
  margin: 0 0 140px 0;
  padding-top: 72px;
}

.experience-flex-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 100px;
}

.work-experience .experience-flex-container:nth-last-child(-n + 3) {
  padding-bottom: 0;
}

.experience-title {
  font-size: 48px;
  font-weight: 700px;
  line-height: 56px;
  letter-spacing: -1.5px;
}

/* Projects section */

/* FLEXBOX projects section header */
.flex-projects-header {
  display: flex;
  justify-content: space-between;
  width: 1110px;
}

.margin-l {
  margin-left: auto;
}

h3 {
  font-size: 88px;
  line-height: 88px;
  font-weight: 700;
  letter-spacing: -2.5px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  gap: 30px;
}

.project-links-container {
  display: none;
}

.project-details {
  position: relative;
}

.project-img {
  width: 540px;
  max-width: 100%;
  opacity: 1;
  transition: 0.5s ease;
}

.rings-container-2 {
  left: 50%;
  transform: translate(95%, 50%);
  position: absolute;
  top: 1050px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 20px;
}

.project-lang {
  display: flex;
  gap: 20px;
  color: var(--light-color);
  font-weight: lighter;
  font-size: 18px;
  line-height: 28px;
}

.img-container {
  position: relative;
}

.img-container:hover {
  opacity: 0.2;
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}

.overlay:hover {
  display: block;
}

.text-overlay {
  display: block;
  margin-bottom: 60px;
}

a .text-overlay:hover {
  color: var(--secondary-color) !important;
}

/* Contact Section */

.bottom-container {
  background: var(--medium-color);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 3250px;
}

.contact-container {
  display: flex;
  margin-top: 84px;
  border-bottom: 1px solid white;
  margin-left: 165px;
  margin-right: 165px;
}

.rings-container-3 {
  transform: translate(-70%);
  margin-bottom: 50px;
}

.contact-form {
  width: 445px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 92px;
  width: 540px;
  align-items: flex-end;
}

.contact-info h2 {
  font-size: 88px;
}

.contact-info p {
  margin-bottom: 50px;
}

input {
  width: 445px;
  height: 43px;
  background-color: var(--medium-color);
  border: none;
  border-bottom: 1px solid white;
  color: var(--main-text-color);
}

.send-msg {
  white-space: nowrap;
  background: var(--medium-color);
  border: none;
  border-bottom: 2px solid #4ee1a0;
}

.send-msg:hover {
  cursor: pointer;
}

.text-area {
  font-size: 16px;
  width: 445px;
  background: var(--medium-color);
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

.pop-up {
  background: var(--secondary-color);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 200px;
  width: 350px;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0px 0px 10px 1px #666;
  display: none;
}

.pop-up p {
  font-size: 26px;
  margin-top: 100px;
}

.pop-up-close-btn {
  background: none;
  border: none;
  position: absolute;
  left: 370px;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.fa-circle-check {
  position: absolute;
  transform: translate(170%);
  margin-bottom: 0px;
  bottom: 150px;
}

.pop-up-close-btn:hover {
  cursor: pointer;
}

/* Footer */

hr {
  display: none;
}

.footer {
  margin: 47px auto 92px auto;
}

/* social media links */
a .svg:hover path {
  fill: var(--secondary-color);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .projects-container {
    margin-right: 370px;
    grid-template-columns: 1fr 1fr;
  }

  .project-links-container {
    display: block;
  }

  .project-links {
    margin-right: 30px;
  }

  body {
    display: grid;
    overflow-x: hidden;
  }

  main {
    margin-left: 32px;
    margin-right: -75px;
  }

  h1 {
    margin-bottom: 60px;
  }

  .rings-container {
    left: -267px;
  }

  .intro-container {
    width: 400px;
    margin-left: 32px;
    margin-bottom: 0;
  }

  .intro-container h1 {
    font-size: 72px;
  }

  .profile-pic-container {
    top: 0;
    left: 480px;
    right: 400px;
  }

  .nav-bar {
    position: absolute;
    z-index: 1000;
    right: 0;
  }

  .profile-pic {
    width: 322px;
    max-width: none;
  }

  .circle-img {
    top: 390px;
    right: 0px;
    left: 250px;
    max-width: none;
  }

  .contact-link {
    margin-bottom: 60px;
  }

  .work-experience {
    width: 708px;
    grid-template-columns: 250px 250px;
    margin: 0 0 100px 32px;
    width: none;
    gap: 94px;
  }

  .bottom-container {
    top: 3150px;
    width: 125%;
    /* height: 110%; */
  }

  .contact-info {
    height: 250px;
  }

  .contact-info p {
    margin: 0;
  }

  .contact-container {
    width: 445px;
    text-align: center;
    flex-direction: column;
    margin-top: 84px;
    margin-bottom: 0px;
    border: none;
  }

  .contact-form {
    margin-top: 50px;
    display: flex;
  }

  .fa-circle-check {
    position: initial;
    transform: none;
  }

  .pop-up p {
    font-size: 18px;
    margin-top: 25px;
    width: 350px;
  }

  .rings-container-3 {
    transform: translate(-110%, 350%);
    margin: 0;
  }

  hr {
    display: block;
    margin-top: 50px;
    margin-left: 32px;
    margin-right: 32px;
    width: 720px;
  }

  .footer {
    padding: 0 50px 0 50px;
    width: 650px;
    margin: 30px 0 40px 0;
  }
}
